
.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

h1, h2 {
text-align:center;
padding:10px;	
}

h1 span, h2 span{
	background-color: lightgrey;
	border-radius: 25px;
}

